<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" src="script/vue.js"></script>
    <script language="JavaScript" src="script/axios.js"></script>
    <script language="JavaScript">
        window.onload=function (){
            var vue = new Vue({
                "el" : "#dHello",
                "data":{
                    uname:"lina",
                    pwd:"ok"
                },
                "methods":{
                    axiosTest:function (){
                        axios({
                            "method":"POST",
                            "url":"axiosTest.do",
                            "params":{
                                "uname":vue.uname,
                                "pwd":vue.pwd
                            }
                        }).then(function (value){
                            console.log(value.data);

                        }).catch(function (reason){

                        })
                    }

                }
            });
        }
    </script>
</head>
<body>
<div id="dHello">
    <input type="text" v-model="uname"><br>
    <input type="text" v-model="pwd"><br>
    <input type="button" value="确定" @click="axiosTest">

</div>

</body>
</html>